/* Universal Selector
 Avoid using this
*{
    background-color: green;
}
*/

*{
    background-color: gainsboro;
}

/* Select all the div elements that have role attribute 
that has a value 'main'
and applying a rule to make the font color #000000 */

div[role="main"]
{
    background-color: lightyellow;
}
div[role]
{
    color: red;
}