/* Universal Selector
 Avoid using this
*{
    background-color: green;
}
*/

*{
    background-color: gainsboro;
}

/* Select all the div elements that have role attribute
and applying a rule to make the font color yellow */

div[role]
{
    color: red;
}